<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}
  {% include loader.html %}
  {% include header.html %}

      {{ content }}

  {% include footer.html %}
  {% include javascripts.html %}

<script type='text/javascript'>
jQuery(document).ready(function($){$('#udltb li:first').addClass('active');$('#udlctn > div').hide();$('#udlctn > div:first').show();$('#udltb a').click(function(){$('#udltb li').removeClass('active');$(this).parent().addClass('active');var activeTab=$(this).attr('href');$('#udlctn > div:visible').hide();$(activeTab).show();return false;});});
</script>

</body>

</html>
